@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --slate-gray: #6d8a96ff;
    --dark-goldenrod: #a98743ff;
    --bistre: #2b2118ff;
    --white-smoke: #f2f2f2ff;
    --rich-black: #101419ff;
}

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat';
    height: 100%;
    
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #1a1a1a;
    height: 100%;
    overflow-x: hidden;
}

nav {
    background-color: rgba(0, 0, 0, 0.521);
    color: #fff;
    height: 100px;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(3px);
    z-index: 3;
}

button {
    touch-action: manipulation;
}

#responsiveNavIcon {
    display: none;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    height: 100px;
    font-size: 20px;
    font-family: 'Roboto';
    line-height: 100px;
    margin-inline: 1vw;
    cursor: pointer;
    z-index: 2;
}

.navIcon {
    display: none;
    border: none;
    background-color: #fff0;
    color: #fff;
    font-size: 28px;
    margin-inline: 22px;
    cursor: pointer;
}

.nav-link:hover, .navLinkDrop:hover {
    color: #c9c9c9;
}

.nav-links {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
}

.navLogo > img {
    display: block;
    height: 100px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: 90vh;
    background-color: #fff0;
    overflow: hidden;
}

.main-content > div > img {
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: blur(5px) brightness(0.3);
    object-fit: cover;
    object-position: center;
}

.slide {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.main-contentText {
    color: #fff;
}

.main-contentText > h1 {
    font-size: 60px;
    font-family: arial;
    text-align: center;
}

.main-contentText > p {
    margin-inline: auto;
    width: 40%;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
}

.progress {
    display: block;
    background-color: #33333396;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid #ccc;
}

.progressIn {
    display: block;
    background-color: #fff;
    width: 0%;
    height: 20px;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 5px 15px;
}

.btnLink {
    border: none;
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-block: 15px;
    font-size: 18px;
    margin-inline: 12px;
    border: solid 1px #fff0;
    transition: ease all 0.3s;
    height: 30px;
    line-height: 30px;
    min-width: 120px;
    text-align: center;
}

.btnLink:hover {
    background-color: var(--bistre) !important;
    color: #fff !important;
}

.subscriptionSection {
    height: 1100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscriptionSection > h1 {
    margin-block: 110px;
    color: #2B2118;
    font-family: 'Montserrat';
    font-size: 45px;
}

.subscriptions {
    display: flex;
    flex-direction: row;
    width: 1350px;
    align-items: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 650px;
}

.subscription {
    display: flex;
    flex-direction: column;
    width: 374px;
    height: 550px;
    color: #2B2118;
    font-family: 'Montserrat';
    background-color: #f2f2f2;
    margin-inline: 40px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
    transition: ease all 0.3s;
    flex-shrink: 0;
}

.subscription:hover {
    transform: scale(1.1);
    background-color: #2B2118;
    color: #fff;
}

.subscription:hover > .subBtn {
    color: #2B2118;
    background-color: #fff;
}

.deleteOverlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    justify-content:center;
    align-items:baseline;
    margin-top: 0px;
    z-index: 1000;
}

/* Popup */
.deletePopup {
    background-color: #fff;
    padding: 20px;
    margin-top: 100px;
    border-radius: 8px;
    width: 50%;
    height: 75%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.subBtn {
    background-color: #2B2118;
    border-radius: 4px;
    border: none;
    height: 45px;
    font-family: 'Montserrat';
    color: #fff;
    font-size: 16px;
    width: 80%;
    margin-inline: auto;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

}

.subscription > h2 {
    text-align: center;
    width: 100%;
}

.subscription > h1 {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
}

.subscription > h1 > p {
    margin-block: 0px;
    font-size: 23px;
    line-height: 2;
}

.subOption {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    width: 80%;
}

.subOption > i {
    height: 40px;
    line-height: 3;
    margin-right: 10px;
}

.subscriptionSlider {
    display: flex;
    flex-direction: row;
}

.subscriptionSlider > button {
    border: none;
    color: var(--rich-black);
    background-color: #fff0;
    cursor: pointer;
}

.subscriptionSlider > button > i {
    font-size: 45px;
    color: var(--bistre);
}

.aboutSection {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-inline: auto;
}

.aboutSectionPortion {
    color: #fff;
    font-family: 'Montserrat';
    margin: 40px;
}

.aboutImg {
    width: 40vw;
    height: 55vh;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.aboutGridImg {
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 60px;
    overflow-x: hidden;
    margin-inline: auto;
    height: 140vh;
    align-items: center;
}

.carouselImg {
    width: 20vw;
    height: 60vh;
    object-fit: cover;
    object-position: center;
    margin-inline: 28px;
    border-radius: 5px;
    transition: ease all 0.3s;
    z-index: 1;
}

.carouselImg:hover {
    transform: scale(1.1); /* IDEA: Make width change on hover maybe */
}

.aboutSectionPortion > h1 {
    text-transform: capitalize;
}

.navLinkDrop {
    font-size: 20px;
    font-family: 'Roboto';
    margin-inline: 1vw;
    cursor: pointer;
    height: 24px;
    line-height: 57px;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.navLinkDrop > i {
    line-height: 100px;
}

.navDrop {
    display: none;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    flex-direction: column;
    right: -35px;
    width: 200px;
    top: 100px;
    border: solid 1px #f2f2f2;
}

.dropLink {
    text-align: left;
    padding-left: 8px;
    width: calc(100% - 8px);
    color: #333;
    text-decoration: none;
    font-size: 17px;
}

.dropLink:hover {
    background-color: #e2e2e2;
}

.navLinkDrop:hover > .navDrop {
    display: flex !important;
}

.signupDiv {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    width: 100%;
    height: 100%;
    color: #fff;
}

.signupInput {
    border: none;
    height: 45px;
    width: 70%;
    min-width: 200px;
    margin-inline: auto;
    outline: none;
    border-radius: 6px;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #333;
    background-color: #f3f3f3;
    text-indent: 10px;
}

.signupDivSec > h3 {
    color: #333;
    margin-inline: auto;
    width: 70%;
}

.membersTable {
    border: 0;
  }

  #tableDescription > p {
    line-height: 20px;
  }

  .tableRow {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff0;
    padding-inline: 5px;
    height: 60px;
    margin-block: 10px;
    overflow: hidden;
  }

  .tableRowInfo {
    display: flex;
    flex-direction: row;
  }

  .tableRowInfo > p {
    width: fit-content;
    margin-inline: 10px;
    text-align: left;
    width: 90px;
    height: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
    scale: 0.85;
  }

  #firstNameAdmin {
    margin-left: 25px;
  }

  #emailAdmin {
    max-width: 250px;
  }

  #addressAdmin {
    max-width: 200px;
  }

  .tableDropBtn {
    margin-block: auto;
    width: 25px;
    height: 25px;
    background-color: #fff0;
    border-radius: 50%;
    border: solid 1px #fff;
    color: #fff;
    cursor: pointer;
  }

  .tableDropBtn > i {
    width: 15px;
  }

  .filterBtn {
    color: #fff;
    background-color: #1e1e1e;
    border: 2px solid #303030;
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    width: 120px;
    margin-inline: 5px;
  }

  .filterBtn:hover {
    background-color: #353535;
  }

  .searchInput {
    background-color: #fff;
    color: #333;
    padding: 5px;
    padding-inline: 15px;
    height: 40px;
    border-radius: 10px;
  }

  .searchInput > input {
    color: #333;
    border: none;
    height: 100%;
    outline: none;
    font-size: 19px;
    font-family: 'Roboto';
  }

.signupDivSec {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.signupDivSec > h1, .signupDivSec > p {
    width: 70%;
    margin-inline: auto;
    color: #333;
    font-weight: 500;
    font-size: 20px;
}

.signupImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.imgSignDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: #1a1a1a62;
    width: 80%;
    height: 50%;
    border-radius: 6px;
}

.spacerLine {
    display: block;
    width: 80%;
    height: 2px;
    border-radius: 6px;
    background-color: #ccc;
}

.subscriptionPick {
    display: flex;
    flex-direction: column;
    width: 70%;
    color: #333;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    margin-inline: auto;
    background-color: #fff;
    font-family: 'Montserrat';
    cursor: pointer;
    margin-block: 15px;
    transition: ease all 0.3s;
    border: solid 1px #fff0;
    text-align: left;
}

.subscriptionPick:hover {
    transform: scale(1.05);
}

.subscriptionPick:hover > div {
    display: flex !important;
}

.subscriptionPick > div > h1 {
    margin-left: 20px;
    line-height: 46px;
}

.subscriptionDesc {
    flex-direction: column;
    padding-bottom: 10px;
}

.subscriptionDesc > .subOption {
    margin-left: 20px;
}

.subscriptionDesc > .subOption > i {
    line-height: 1.9;
}

.subscriptionDesc > .subOption > i {
   color: #5285ff;
}

.navProfile {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}

.navProfileUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.navProfileUser > img {
    line-height: 100px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-inline: 10px;
}

.navProfileUser > p {
    font-size: 20px;
    font-family: 'Roboto';
}

.navProfileDrop {
    top: 100px;
    display: none;
    border-radius: 4px;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    border: solid 1px #f2f2f2;
    width: 200px;
    right: 10px;
}

.navProfile:hover > .navProfileDrop {
    display: flex !important;
}

.navProfileDropLink {
    display: block;
    height: 57px;
    line-height: 57px;
    padding-inline: 8px;
    color: #333;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 17px;
}

.navProfileDropLink > i {
    line-height: 57px;
    margin-inline: 5px;
}

.navProfileDropLink:hover {
    background-color: #e2e2e2; 
}

.settings {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    height: calc(100% - 100px);
}

.settingSidebar {
    max-width: 350px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: calc(100% - 30px);
    align-items: center;
    background-color: #1a1a1a;
    position: fixed;
}

.settingSidebarBtn {
    display: flex;
    flex-direction: row;
    border: none;
    height: 50px;
    width: 70%;
    padding-inline: 15px;
    margin-block: 10px;
    font-family: 'Roboto';
    font-size: 20px;
    border-radius: 5px;
    background-color: #fff0;
    color: #474747;
    transition: all ease 0.3s;
    cursor: pointer;
    text-align: left;
}

.settingSidebarBtn > p {
    margin-block: 0px;
    line-height: 50px;
    font-size: 18.5px;
}

.settingSidebarBtn > i {
    margin-inline: 10px;
    line-height: 46px;
}

.settingSidebarBtn:hover {
    background-color: #2B2118;
    color: #fff;
}

.settingMainContent {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    width: 80%;
    min-height: 100%;
    max-height: fit-content;
    color: #fff;
    padding-inline: 30px;
    padding-left: 20%;
    padding-bottom: 120px;
}

.line {
    display: block;
    width: 100%;
    background-color: #333;
    height: 1px;
}

.settingColumn {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-inline: auto;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin-block: 30px;
  }
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  .avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .forumSection {
    display: flex;
    flex-direction: column;
    width: 60vw;
  }

  .forumPost {
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px !important;
  }

  .forumPost > p {
    text-overflow: ellipsis;
    overflow-x: hidden;
    line-height: 35px;
  }

  .forumTitle > h3 > a {
    font-size: 1.6vw;
    color: #fff !important;
    text-decoration: none;
  }

  .forumPost:hover {
    background-color: #22222269;
  }

  .comment:hover {
    background-color: #22222269;
  }

  .commentSection {
    color: #fff;
    padding: 20px;
    border-radius: 5px;
  }

  .forumTitle {
    display: flex;
    flex-direction: row;
  }

  .forumTitle > p {
    margin-left: auto;
    line-height: 47px;
  }

  .forumUser {
    color: #626262;
    text-decoration: none;
    line-height: 40px;
    margin-inline: 20px;
    margin-right: 0px;
  }

  .forumUser:hover {
    color: #5285ff;
  }

  .popupPost {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0000003b;
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    position: fixed;
    border: none;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .postInformation {
    position: fixed;
    left: 0;
    right: 0;
    top: 110px;
    margin-inline: auto;
    padding: 20px;
    width: 80%;
    height: 75vh;
    overflow-y: scroll;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 3;
    border-radius: 5px;
  }

  .postText {
    outline: none;
    font-size: 18px;
    background-color: #f3f3f3;
    border-radius: 6px;
    border: none;
    resize: none;
    font-family: 'Roboto';
    padding: 10px;
    margin-block: 10px;
    width: 94%;
    margin-inline: auto;
    height: 60%;
    color: #333;
    white-space: pre-wrap;
  }

  #posts {
    display: flex;
    flex-direction: column;
  }

  .forumBtns {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 20px;

  }

  .iconBtn {
    display: block;
    background-color: #fff0;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-inline: 5px;
    font-size: 20px;
  }

  .settingSection {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #1e1e1e;
    display: none;
  }

  #navSep {
    display: none;
  }

  #logoutBtn2 {
    display: none;
  }

  .submitImage {
    margin-block: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #eee;
    border-radius: 10px;
    min-height: 80px
  }

  .submitImageText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .submitImageText > i {
    color: #595959;
    margin-inline: 5px;
    background-color: #eee;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
  }

  .imageUploadPreviewDiv {
    display: none;
    margin-block: 30px;
  }

  .forumPfp {
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }

  .inlineForumUser {
    display: flex;
    flex-direction: row;
  }

  .forumPost {
    font-family: 'Roboto';
    color: #ccc;
  }

  .construction {
    position: fixed;
    background-color: #ffc300;
    color: #fff;
    width: 100%;
    text-align: center;
    z-index: 5;
  }

  #constructionDesc {
    text-transform: capitalize;
    font-weight: 600;
    margin-block: 0px;
    height: 100%;
    line-height: 51px;
  }

  .signupDivSec > h3 {
    color: #333;
    margin-inline: auto;
    width: 70%;
}

 #confirmPopupBtn:hover {
    border: solid 2px #fff0 !important;
 }

 #phoneNumberAdmin {
    width: 120px;
 }

 #stateAdmin {
    width: 50px;
 }

 #zipAdmin {
    width: 70px;
 }

 #forumDate {
    margin-block: 0px !important;
    margin-left: 24px;
    position: relative;
 }

 #forumDate > i {
    font-size: 4px;
    line-height: 40px;
    margin-inline: 10px;
    position: absolute;
    left: -25px;
 }

 #forumDate:hover {
    color: #626262;
 }

 .allForum {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin-inline: auto;
    padding-block: 120px;
    position: relative;
    justify-content: center;
 }

 .forumDesc {
    display: flex;
    flex-direction: column;
    width: 17vw;
    margin-left: auto;
    top: 120px;
    position: sticky;
    height: calc(100vh - 180px);
    padding-inline: 20px;
    border-radius: 10px;
    background-color: #202020;
    color: #fff;
    overflow-y: scroll;
    border: solid 1px #2b2b2b;
 }

 .faqBtn {
    font-family: 'Roboto';
    color: #747474;
    text-align: left;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    height: fit-content;
    height: 50px;
    border-radius: 10px;
    transition: ease all 0.3s;
    text-indent: 10px;
}

.faqBtn:hover {
    background-color: #252525;
    color: #bdbdbd !important;
}

.faqBtn > p {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-block: 0px;
    line-height: 50px;
}

.faqBtn > p > i {
    margin-left: auto;
    margin-right: 7.5px;
    line-height: 50px;
    height: 100% !important;
}

.faqBtn > div {
    display: none;
    overflow: hidden;
}

.faqBtn > div > p {
    height: 100%;
    margin-left: 10px;
    text-indent: 0px;
}

.faqBtn > p > i {
    height: 20px;
}

.moderator {
    display: flex;
    flex-direction: row;
    height: 64px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.moderator > img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 64px;
}

.moderator > p {
    font-size: 20px;
    line-height: 10px;
}

#commentBtn {
    margin-left: 0px;
    height: 50px;
    width: 140px;
    font-family: 'Roboto';
}

.forumDesc > h3  {
    margin-left: 20px;
}

.inlineGraphs {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.inlineGraphs > div > h1 {
    font-size: 2.4vw;
}

.graphSec {
    margin-inline: 10px;
    margin-block: 30px;
    padding: 50px;
    width: 47%;
    padding: 10px;
    background-color: #1c1c1c;
    border-radius: 20px;
}

#filterBtn {
    position: relative;
    height: 30px;
    line-height: 30px;
    width: fit-content;
    padding-inline: 30px;
}

#filterBtn > p {
    margin: 0px;
}

.filterDrop {
    top: 50px;
    right: 0;
    width: 340px;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #1a1a1a;
    border: solid 1px #333;
    padding: 20px;
    border-radius: 15px;
    z-index: 3;
}

#filterBtn:hover > .filterDrop {
    display: flex;
}

.filterDropSearch {
    display: flex;
    flex-direction: row;
    padding-block: 15px;
    border-bottom: 1px solid #333;
    align-items: center;
}

.filterDropSearch > h4 {
    margin-right: 5px;
    margin-block: 0px !important;
}

.filterDropSearch > input {
    height: 25px;
    border-radius: 8px;
    background-color: #1a1a1a;
    border: solid 1px #333;
    color: #fff;
    text-indent: 10px;
    font-size: 15px;
    font-family: 'Roboto';
    outline: none;
    margin-left: auto;
    transition: ease all 0.3s;
}

.filterDropSearch > input:focus {
    border: solid 1px #2374d1;
    box-shadow: #2374d162 0px 8px 24px;
}

#reportHolder {
    display: flex;
    flex-direction: column-reverse;
}

.backBtn {
    display: flex;
    justify-content: center;
    background-color: #cccccc65;
    color: #333;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 5px;
    position: absolute;
    bottom: 25px;
    left: -40px;
    text-decoration: none;
}

.backBtn > i {
    font-size: 19px;
    width: 15px;
}

.userInfoTag {
    color: #aaa;
    background-color: #1d1d1d;
    border: solid 1px #333;
    padding: 10px;
    border-radius: 8px;
    width: fit-content !important;
    white-space: wrap !important;
    scale: 1 !important;
    font-size: 12.5px !important;
}

.userInfoTag > b {
    color: #fff;
    font-weight: 500;
}

.biblePlansHolder {
    display: flex;
    flex-direction: row;
}

.biblePlans {
    display: flex;
    flex-direction: row;
}

.biblePlan {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 60vw;
    height: 300px;
    object-fit: cover;
    object-position: center;
    justify-content: center;
    border: solid 1.5px #ccc;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.biblePlanBtn {
    position: absolute;
    text-align: center;
    display: block;
    background-color: #fff;
    border: solid 1px #ccc;
    padding: 10px;
    border-radius: 10px;
    width: 140px;
    margin-inline: auto;
    text-decoration: none;
    color: #333;
    bottom: 15px;
    left: 0;
    right: 0;
    transition: ease all 0.3s;
}

.biblePlanBtn:hover {
    background-color: #ccc;
}

.biblePlanProg {
    width: 85%;
    border: solid 1px #ccc;
    border-radius: 1000px;
    height: 20px;
    margin-top: 40px;
    margin-left: 20px;
}

.innerBiblePlanProg {
    display: inline-block;
    background-color: #5285ff;
    border-radius: 1000px;
    height: 20px;
    width: 50%;
}

.tableContents {
    color: #333;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid 1.5px #ccc;
    padding: 13px;
    border-radius: 10px;
    position: fixed;
    height: 75%;
    right: 80px;
}

.tableContents > h2 {
    text-align: center;
    text-decoration: underline;
}

.tableContents > ul {
    padding-left: 10px;
}

.tableContents > ul > li > a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    background-color: #555;
    border-radius: 8px;
}

#closePostBtn {
    display: none;
}

  @media only screen and (max-width: 1610px) {

    .settingSidebarBtn {
        font-size: 17px;
    }

    .imgSignDesc > p {
        margin-inline: 5px;
        text-align: center;
        width: 80%;
    }

    .imgSignDesc > h1 {
        margin-inline: 5px;
        text-align: center;
        width: 80%;
        font-size: 24px;
    }

    .signupDivSec > h1 {
        font-size: 30px !important;
    }

    .imgSignDesc > img {
        height: 17% !important;
    }

  }

  @media only screen and (max-width: 1478px) {

    .faqBtn > p {
        font-size: 16.5px;
    }

    .faqBtn > div > p {
        font-size: 16.5px;
    }

    .moderator > p {
        font-size: 16.5px;
        line-height: 1px;
    }

    .moderator > img {
        height: 35px;
        width: 35px;
    }

    .settingSidebar {
        width: 100px;
    }

    .settingColumn {
        width: 80%;
        padding-left: 0px;
    }

    .settingMainContent {
        padding-left: 100px;
        width: calc(100% - 100px);
    }

    .settingSidebarBtn > p {
        display: none;
    }

    .settingSidebarBtn > i {
        margin-inline: auto;
    }

    .subscriptionSection {
        height: fit-content;
        padding-block: 100px;
    }

    .subscriptionSlider {
        width: 100%;
    }

    .subscriptionSlider > button {
        display: none;
    }

    .subscriptions {
        display: grid;
        grid-template-columns: auto auto auto;
        height: fit-content !important;
        padding-block: 50px;
        row-gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .subscription {
        width: 24vw;
    }

    .aboutSectionPortion > h1 {
        font-size: 1.8vw !important;
    }

    .aboutSectionPortion > h2 {
        font-size: 1.6vw !important;
    }

    .aboutSectionPortion > p {
        font-size: 1.3vw !important;
    }

    .aboutImg {
        height: 40vh;
    }

    .aboutGridImg {
        grid-template-columns: auto auto;
        height: fit-content;
        padding-block: 20px;
        width: 85%;
        justify-content: center;
        align-items: center;
    }

    .carouselImg {
        width: 30vw;
        height: 30vh;
    }

    .aboutSection {
        height: 70vh;
    }

  }

  @media only screen and (max-width: 1060px) {

    .tableRow {
        overflow-x: scroll;
    }

    .backBtn {
        position: static !important;
        margin-top: 10px;
        margin-right: 10px;
    }

    .forumTitle > h3 > a {
        font-size: 20px;
    }

    .allForum {
        width: 90%;
    }

    .forumDesc {
        width: 22vw;
    }

    .forumTitle {
        font-size: 20px;
    }

    .moderator, #moderatorHeader {
        display: none;
    }

    #logoutBtn1 {
        display: none !important;
    }

    #logoutBtn2 {
        border-top: solid 1px #333;
        padding-top: 2px;
        display: block;
        order: 5 !important;
    }

    #navSep {
        display: block !important;
        order: 2;
        margin-block: 2px;
    }

    #pfp {
        order: 1;
        height: 45px;
        width: 45px;
    }

    #username {
        order: 2;
    }

    .navProfileDropLink:hover {
        background-color: #5285ff !important;
        border-radius: 5px !important;
        color: #fff;
    }

    #responsiveNavIcon {
        display: inline-block;
    }

    .subscription {
        font-size: 1.4vw;
        height: 45vh;
    }

    .nav-link {
        padding-left: 8px;
        height: 57px;
        line-height: 57px;
        font-size: 18.5px;
        order: 3;
    }

    .nav-link > i {
        margin-inline: 10px;
    }

    .nav-link:hover {
        background-color: #5285ff !important;
        border-radius: 5px !important;
        color: #fff;
    }

    .nav-links {
        display: none;
    }

    .nav-links {
        padding-top: 10px;
        position: fixed;
        height: 100vh !important;
        width: 70%;
        left: 0px;
        flex-direction: column;
        background-color: #1a1a1a;
        z-index: 4;
        margin-right: 0px;
        border-radius: 0px 15px 15px 0px;
    }

    .navProfileUser {
        border-bottom: solid 1px #333;
    }

    .navProfileUser > i {
        display: none;
    }

    #navProfile {
        flex-direction: column;
        margin-right: 0px;
        order: 1;
    }

    .navProfileDrop {
        display: flex;
        position: static;
        background-color: #1a1a1a;
        width: 100%;
        border: none;
    }

    .navProfileDropLink {
        color: #fff;
        font-size: 18.5px;
        margin-inline: 5px;
        margin-top: 2px;
    }

    .navProfileDropLink > i {
        margin-inline: 10px;
    }

    .navLinkDrop {
        height: unset;
        order: 4;
    }

    .navLinkDrop > p {
        display: none;
    }

    .navLinkDrop > i {
        display: none;
    }

    .navDrop {
        display: flex;
        position: static;
        width: 100%;
        background-color: #1a1a1a;
        border: none;
    }

    .dropLink {
        color: #fff;
        height: 57px;
        line-height: 57px;
        font-size: 18.5px;
    }

    .dropLink > i {
        margin-inline: 10px;
    }

    .dropLink:hover {
        background-color: #fff0;
        color: #c9c9c9;
    }

    .navIcon {
        display: block;
        margin-left: auto;
    }
  }

  @media only screen and (max-width: 856px) {

    .fundraiserDiv {
        margin-top: 100px !important;
        width: 100% !important;
        height: 100% !important;
    }

    .fundraiserImg {
        border-radius: 0px !important;
        width: 100% !important;
    }

    #fundraiserLine {
        width: 35vw !important;
    }

    .fundraiserPara {
        width: 99% !important;
    }

    .backBtn {
        position: absolute !important;
        left: 6px;
        top: 2px;
    }

    #closePostBtn {
        display: block;
    }

    .postInformation {
        width: 86vw;
    }

    .forumDesc {
        display: none !important;
    }

    .forumSection {
        width: 100%;
    }

    #popupBox {
        width: 80% !important;
    }

    .signupDivSec > h1 {
        font-size: 23.5px !important;
        width: 90%;
    }

    .subscriptionPick {
        width: 94%;
    }

    #checkoutBtn {
        margin-bottom: 100px;
    }

    #continueBtn {
        margin-bottom: 100px;
    }

    .signupDivSec {
        margin-top: 120px;
        display: none;
        width: 100%;
        height: fit-content !important;
    }

    .settingSidebar {
        width: 80px;
    }

    #aboutImg {
        order: 1;
    }

    #aboutDesc {
        order: 2;
    }

    #communityImages {
        height: fit-content !important;
    }

    #communityImages > h1 {
        font-size: 20px !important;
    }

    .aboutGridImg {
        row-gap: 20px;
        column-gap: 20px;
    }

    .carouselImg {
        width: 40vw !important;
        margin-inline: 0px;
    }

    .subscriptions {
        grid-template-columns: auto !important;
    }

    .subscription {
        width: 75vw !important;
        height: 55vh !important;
    }

    .subscription > h1 {
        font-size: 23px;
    }

    .subscription > h2 {
        font-size: 23px;
    }

    .subOption > p {
        line-height: 1.5;
        font-size: 12px;
    }

    .subOption > i {
        line-height: 2.5;
    }

    .aboutSection {
        padding-top: 50px;
        flex-direction: column;
        margin-bottom: 100px;
        width: 100%; 
    }

    .aboutSectionPortion {
        margin-bottom: 0px;
    }

    .aboutSectionPortion > h1 {
        font-size: 5vw !important;
    }

    .aboutSectionPortion > h2 {
        font-size: 3.5vw !important;
    }

    .aboutSectionPortion > p {
        font-size: 3.2vw !important;
    }

    .aboutImg {
        width: 85vw !important;
    }

    .main-contentText > h1 {
        font-size: 6.8vw;
    }

    .main-contentText > p {
        width: 80%;
        font-size: 4.2vw;
    }

    .btnLink {
        transform: scale(0.9);
        margin-inline: 0px;
    }

    .subscriptions {
        grid-template-columns: auto auto;
    }

    .subscription {
        width: 32vw;
    }

    .subscription > h1 > p {
        line-height: 1.2;
    }

    .signupDivSec {
        display: none;
    }

    #signup1 {
        display: flex;
        width: 100%;
    }

    .signupDivSec > h1 {
        text-align: center;
        font-size: 22px;
        margin-block: 10px;
        margin-bottom: 40px !important;
    }

    #continueBtn {
        margin-top: 30px !important;
    }

    .navLogo > img {
        width: 60%;
        height: 60%;
        max-height: 100px;
        line-height: 100px;
        margin-left: 10px;
    }

    .navLogo {
        margin-block: auto;
    }

    #moreInfoBtn {
        display: none !important;
    }

    .progress {
        height: 10px;
    }

    .progressIn {
        height: 10px;
    }

    .subscriptionSection > h1 {
        text-align: center;
        font-size: 6.8vw;
    }

    .dropLink:hover {
        background-color: #5285ff !important;
        border-radius: 5px !important;
        color: #fff;
    }

    .settingColumn > h1 {
        font-size: min(max(32px), 5.6vw);
    }

    .avatar-upload {
        transform: scale(0.85);
    }

  }

  @media only screen and (max-width: 856px) {
    .forumDate, .forumUser {
        font-size: 16.5px;
    }

    #forumHeader {
        flex-direction: column !important;
    }

    #showPopup {
        margin-left: 15px !important;
    }

    .forumTitle > a {
        margin-inline: auto;
    }
  }