:root {
    --slate-gray: #6d8a96ff;
    --dark-goldenrod: #a98743ff;
    --bistre: #2b2118ff;
    --white-smoke: #f2f2f2ff;
    --rich-black: #101419ff;
}

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat';
    height: 100%;
}

body {
    margin: 0px;
    background-color: #1a1a1a;
    height: 100%;
}

nav {
    background-color: rgba(0, 0, 0, 0.521);
    color: #fff;
    height: 100px;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(3px);
    z-index: 3;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    height: 100px;
    font-size: 20px;
    font-family: 'Roboto';
    line-height: 100px;
    margin-inline: 1vw;
    cursor: pointer;
    z-index: 2;
}

.nav-link:hover, .navLinkDrop:hover {
    color: #c9c9c9;
}

.nav-links {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
}

.navLogo > img {
    display: block;
    height: 100px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: 90vh;
    background-color: #fff0;
}

.main-content > div > img {
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: blur(5px) brightness(0.3);
    object-fit: cover;
    object-position: center;
}

.slide {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.main-contentText {
    color: #fff;
    margin-left: 40px;
}

.main-contentText > h1 {
    font-size: 60px;
    font-family: arial;
    text-align: center;
}

.progress {
    display: block;
    background-color: #33333396;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid #ccc;
}

.progressIn {
    display: block;
    background-color: #fff;
    width: 0%;
    height: 20px;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 5px 15px;
}

.btnLink {
    border: none;
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-block: 15px;
    font-size: 18px;
    margin-inline: 12px;
    border: solid 1px #fff0;
    transition: ease all 0.3s;
    height: 30px;
    line-height: 30px;
    min-width: 120px;
    text-align: center;
}

.btnLink:hover {
    background-color: var(--bistre) !important;
    color: #fff !important;
}

.subscriptionSection {
    height: 90vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscriptionSection > h1 {
    margin-block: 110px;
    color: #2B2118;
    font-family: 'Montserrat';
    font-size: 45px;
}

.subscriptions {
    display: flex;
    flex-direction: row;
    width: 1350px;
    align-items: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 650px;
}

.subscription {
    display: flex;
    flex-direction: column;
    width: 374px;
    height: 550px;
    color: #2B2118;
    font-family: 'Montserrat';
    background-color: #f2f2f2;
    margin-inline: 40px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
    transition: ease all 0.3s;
    flex-shrink: 0;
}

.subscription:hover {
    transform: scale(1.1);
    background-color: #2B2118;
    color: #fff;
}

.subscription:hover > .subBtn {
    color: #2B2118;
    background-color: #fff;
}

.subBtn {
    background-color: #2B2118;
    border-radius: 4px;
    border: none;
    height: 45px;
    font-family: 'Montserrat';
    color: #fff;
    font-size: 16px;
    width: 80%;
    margin-inline: auto;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

}

.subscription > h2 {
    text-align: center;
    width: 100%;
}

.subscription > h1 {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
}

.subscription > h1 > p {
    margin-block: 0px;
    font-size: 23px;
    line-height: 2;
}

.subOption {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    width: 80%;
}

.subOption > i {
    height: 40px;
    line-height: 3;
    margin-right: 10px;
}

.subscriptionSlider {
    display: flex;
    flex-direction: row;
}

.subscriptionSlider > button {
    border: none;
    color: var(--rich-black);
    background-color: #fff0;
    cursor: pointer;
}

.subscriptionSlider > button > i {
    font-size: 45px;
    color: var(--bistre);
}

.aboutSection {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-inline: auto;
}

.aboutSectionPortion {
    color: #fff;
    font-family: 'Montserrat';
    margin: 40px;
}

.aboutImg {
    width: 40vw;
    height: 55vh;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.aboutGridImg {
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 60px;
    overflow-x: hidden;
    margin-inline: auto;
    height: 140vh;
    align-items: center;
}

.carouselImg {
    width: 20vw;
    height: 60vh;
    object-fit: cover;
    object-position: center;
    margin-inline: 28px;
    border-radius: 5px;
    transition: ease all 0.3s;
    z-index: 1;
}

.carouselImg:hover {
    transform: scale(1.1); /* IDEA: Make width change on hover maybe */
}

.aboutSectionPortion > h1 {
    text-transform: capitalize;
}

.navLinkDrop {
    font-size: 20px;
    font-family: 'Roboto';
    margin-inline: 1vw;
    cursor: pointer;
    height: 24px;
    line-height: 57px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.navLinkDrop > i {
    line-height: 100px;
}

.navDrop {
    display: none;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    flex-direction: column;
    right: 200px;
    width: 200px;
    top: 100px;
    border: solid 1px #f2f2f2;
}

.dropLink {
    text-align: left;
    padding-left: 8px;
    width: calc(100% - 8px);
    color: #333;
    text-decoration: none;
    font-size: 17px;
}

.dropLink:hover {
    background-color: #e2e2e2;
}

.navLinkDrop:hover > .navDrop {
    display: flex !important;
}

.signupDiv {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    width: 100%;
    height: 100%;
    color: #fff;
}

.signupInput {
    border: none;
    height: 45px;
    width: 70%;
    margin-inline: auto;
    outline: none;
    border-radius: 6px;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #333;
    background-color: #f3f3f3;
    text-indent: 10px;
}

.signupDivSec {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.signupDivSec > h1, .signupDivSec > p {
    width: 70%;
    margin-inline: auto;
    color: #333;
    font-weight: 500;
    font-size: 20px;
}

.signupImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.imgSignDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: #1a1a1a62;
    width: 80%;
    height: 50%;
    border-radius: 6px;
}

.spacerLine {
    display: block;
    width: 80%;
    height: 2px;
    border-radius: 6px;
    background-color: #ccc;
}

.subscriptionPick {
    display: flex;
    flex-direction: column;
    width: 70%;
    color: #333;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    margin-inline: auto;
    background-color: #fff;
    font-family: 'Montserrat';
    cursor: pointer;
    margin-block: 15px;
    transition: ease all 0.3s;
    border: solid 1px #fff0;
    text-align: left;
}

.subscriptionPick:hover {
    transform: scale(1.05);
}

.subscriptionPick:hover > div {
    display: flex !important;
}

.subscriptionPick > div > h1 {
    margin-left: 20px;
    line-height: 46px;
}

.subscriptionDesc {
    flex-direction: column;
    padding-bottom: 10px;
}

.subscriptionDesc > .subOption {
    margin-left: 20px;
}

.subscriptionDesc > .subOption > i {
    line-height: 1.9;
}

.subscriptionDesc > .subOption > i {
   color: #5285ff;
}

.navProfile {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}

.navProfileUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.navProfileUser > img {
    line-height: 100px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-inline: 10px;
}

.navProfileUser > p {
    font-size: 20px;
    font-family: 'Roboto';
}

.navProfileDrop {
    display: none;
    border-radius: 4px;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    border: solid 1px #f2f2f2;
    width: 200px;
    right: 10px;
}

.navProfile:hover > .navProfileDrop {
    display: flex !important;
}

.navProfileDropLink {
    height: 45px;
    line-height: 45px;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 17px;
}

.navProfileDropLink:hover {
    background-color: #ccc; 
}

.settings {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    height: calc(100% - 100px);
}

.settingSidebar {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: calc(100% - 30px);
    align-items: center;
}

.settingSidebarBtn {
    border: none;
    height: 50px;
    width: 70%;
    padding-inline: 15px;
    margin-block: 10px;
    font-family: 'Roboto';
    font-size: 20px;
    border-radius: 5px;
    background-color: #fff0;
    color: #474747;
    transition: all ease 0.3s;
    cursor: pointer;
    text-align: left;
}

.settingSidebarBtn > i {
    margin-inline: 10px;
}

.settingSidebarBtn:hover {
    background-color: #2B2118;
    color: #fff;
}

.settingMainContent {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    width: 80%;
    height: 100%;
    color: #fff;
    padding-inline: 30px;
}

.line {
    display: block;
    width: 100%;
    background-color: #333;
    height: 1px;
}

.settingColumn {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-inline: auto;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin-block: 30px;
  }
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  .avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .forumSection {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-inline: auto;
  }

  .forumPost {
    color: #fff;
    padding: 20px;
    border-radius: 5px;
  }

  .forumTitle > h3 > a {
    font-size: 1.6vw;
    color: #fff !important;
    text-decoration: none;
  }

  .forumPost:hover {
    background-color: #22222269;
  }

  .forumTitle {
    display: flex;
    flex-direction: row;
  }

  .forumTitle > p {
    margin-left: auto;
    line-height: 47px;
  }

  .forumUser {
    color: #626262;
    text-decoration: none;
  }

  .forumUser:hover {
    color: #5285ff;
  }

  .popupPost {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0000003b;
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    position: absolute;
    border: none;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .postInformation {
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    padding: 20px;
    width: 50%;
    height: 70%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 3;
    border-radius: 5px;
  }

  .postText {
    outline: none;
    font-size: 18px;
    background-color: #f3f3f3;
    border-radius: 6px;
    border: none;
    resize: none;
    font-family: 'Roboto';
    padding: 10px;
    margin-block: 10px;
    width: 94%;
    margin-inline: auto;
    height: 60%;
    color: #333;
  }